<div class="main">
  <!-- <img src="../assets/image-hero-desktop.jpg" alt="" /> -->
  <div class="header-container">
    <div class="logo-menu">
      <div class="logo"><img src="../assets/logo.svg" alt="" /></div>
      <ng-container *ngIf="!mobileView"
        ><div class="menu">
          <span class="submenu">About</span>
          <span class="submenu">Discover</span>
          <span class="submenu">Get Started</span>
        </div></ng-container
      >
      <ng-container *ngIf="mobileView">
        <div class="menu-container">
          <ng-container *ngIf="!menu"
            ><img
              src="../assets/icon-hamburger.svg"
              alt="menu"
              (click)="onClickMenu()"
          /></ng-container>
          <ng-container *ngIf="menu">
            <img
              src="../assets/icon-close-menu.svg"
              alt="icon-close-menu"
              (click)="onClickMenu()"
            />
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="container">
    <div class="mastercraft-container">
      <div class="mastercraft-icon">
        <img src="../assets/logo-mastercraft.svg" alt="logo-mastercraft" />
      </div>
      <div class="master-craft-heading">Mastercraft Bamboo Monitor Riser</div>
      <div class="master-craft-content">
        A beautiful & handcrafted monitor stand to reduce neck and eye strain.
      </div>
      <div class="button-container">
        <button class="back-this-project" (click)="backThisProject()">
          Back this project
        </button>
        <div class="bookmark-container" (click)="onBookmark()">
          <img
            src="../assets/icon-bookmark.svg"
            alt="icon-bookmark"
            class="icon-bookmark"
            *ngIf="!bookmark"
          />
          <div class="green" *ngIf="bookmark">
            <i class="fa-solid fa-bookmark color-change"></i>
          </div>

          <ng-container *ngIf="!mobileView"
            ><button
              [ngStyle]="{ color: bookmark ? 'hsl(176, 72%, 28%)' : '' }"
              class="bookmark"
            >
              {{ bookmarkLabel }}
            </button></ng-container
          >
        </div>
      </div>
    </div>
    <div class="project-cost">
      <div class="current-cost">
        <div class="fund">
          <span class="current">$89,914</span>
          <span class="title">of $100,000 backed</span>
        </div>
        <div class="backers">
          <span class="current">5,007</span>
          <span class="title">total backers</span>
        </div>
        <div class="days">
          <span class="current">56</span>
          <span class="title">days left</span>
        </div>
      </div>
      <div class="progress-bar">
        <div class="progress"></div>
      </div>
    </div>
    <div class="about-container">
      <div class="about-heading">About this project</div>
      <div class="about-content">
        The Mastercraft Bamboo Monitor Riser is a sturdy and stylish platform
        that elevates your screen to a more comfortable viewing height. Placing
        your monitor at eye level has the potential to improve your posture and
        make you more comfortable while at work, helping you stay focused on the
        task at hand.
      </div>
      <div class="about-content">
        Featuring artisan craftmanship, the simplicity of design creates extra
        desk space below your computer to allow notepads, pens, and USB sticks
        to be stored under the stand.
      </div>

      <div class="reward-container">
        <div class="reward-header-container">
          <div class="reward-header">Bamboo Stand</div>
          <div class="reward-pledge">Pledge $25 or more</div>
        </div>
        <div class="reward-content">
          You get an ergonomic stand made of natural bamboo. You've helped us
          launch our promotional campaign, and you'll be added to a special
          Backer member list.
        </div>
        <div class="reward-bottom">
          <div class="reward-left">
            <span class="reward-count">101</span>
            <span class="left">left</span>
          </div>
          <button class="select-reward">Select Reward</button>
        </div>
      </div>
      <div class="reward-container">
        <div class="reward-header-container">
          <div class="reward-header">Black Edition Stand</div>
          <div class="reward-pledge">Pledge $75 or more</div>
        </div>
        <div class="reward-content">
          You get an Black Special Edition computer stand and a personal thank
          you. You'll be added to our Backer member list. Shipping is included.
        </div>
        <div class="reward-bottom">
          <div class="reward-left">
            <span class="reward-count">64</span>
            <span class="left">left</span>
          </div>
          <button class="select-reward">Select Reward</button>
        </div>
      </div>
      <div class="reward-container" disabled [ngStyle]="{ opacity: '0.5' }">
        <div class="reward-header-container">
          <div class="reward-header">Mahogany Special Edition</div>
          <div class="reward-pledge">Pledge $200 or more</div>
        </div>
        <div class="reward-content">
          You get two Special Edition Mahogany stands, a Backer T-shirt, and a
          personal thank you. You'll be added to our Backer member list.
          Shipping is included.
        </div>
        <div class="reward-bottom">
          <div class="reward-left">
            <span class="reward-count">0</span>
            <span class="left">left</span>
          </div>
          <button
            class="select-reward"
            [ngStyle]="{ 'background-color': 'hsl(0, 0%, 48%)' }"
          >
            Out of stock
          </button>
        </div>
      </div>
    </div>
    <div class="background"></div>
  </div>
</div>
<ng-container *ngIf="mobileView && menu"
  ><div class="menu">
    <span class="submenu">About</span>
    <hr />
    <span class="submenu">Discover</span>
    <hr />
    <span class="submenu">Get Started</span>
  </div></ng-container
>
