@media (max-width: 679px) {
  .main {
    background-color: whitesmoke;
    height: 100%;
  }
  .header-container {
    background-image: url("../assets/image-hero-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    padding: 8% 5% 65% 5%;
  }
  .logo-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
  }
  .menu {
    box-shadow: 0px 180px 230px 60px rgba(0, 0, 0, 0.3);
    display: grid;
    font-family: "Commissioner";
    width: 90%;
    position: absolute;
    top: 11%;
    background-color: white;
    left: 5%;
    right: 5%;
    border-radius: 10px;
  }
  .submenu {
    font-size: 115%;
    margin: 6% 0% 6% 7%;
    font-weight: 500;
  }
  hr {
    width: 100%;
    opacity: 0.3;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 34%;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
  }
  .mastercraft-container {
    background-color: white;
    padding: 10% 5% 10% 5%;
    text-align: center;
    font-family: "Commissioner";
    border-radius: 5px;
    width: 80%;

    margin-left: auto;
    margin-right: auto;
  }
  .mastercraft-icon {
    position: absolute;
    top: -1.5%;

    left: 50%;
    transform: translate(-50%);
  }
  .master-craft-heading {
    font-size: 150%;
    font-weight: 700;
  }
  .master-craft-content {
    color: hsl(0, 0%, 48%);
    font-size: 80%;
    letter-spacing: 1px;
    margin-top: 8%;
  }
  .button-container {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
  }
  .back-this-project {
    background-color: hsl(176, 50%, 47%);
    border: 0;
    outline: 0;
    color: white;
    padding: 6% 15% 6% 15%;
    font-size: 100%;
    border-radius: 30px;
    font-family: "Commissioner";
    font-weight: 600;
  }
  .color-change {
    filter: invert(300%) sepia(0%) saturate(4000%) hue-rotate(195deg)
      brightness(129%) contrast(102%);
  }
  .green {
    background-color: hsl(176, 72%, 28%);
    border-radius: 100px;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .project-cost {
    display: grid;
    background-color: white;
    margin-top: 10%;
    padding: 4% 5% 15% 5%;
    font-family: "Commissioner";
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .current-cost {
    display: grid;
    justify-content: center;
  }
  .fund,
  .backers,
  .days {
    display: grid;
    padding-top: 20%;
    padding-bottom: 20%;

    justify-content: center;
  }

  .backers,
  .days {
    border-top: 1px solid hsl(0, 0%, 48%, 0.3);
  }

  .current {
    font-size: 180%;
    font-weight: 700;
    text-align: center;
  }
  .title {
    color: hsl(0, 0%, 48%);
    font-size: 80%;
    margin-top: 5%;
  }
  .progress-bar {
    margin-top: 3%;
    width: 100%;
    height: 150%;
    background-color: hsl(0, 0%, 48%, 0.2);
    border-radius: 10px;
  }
  .progress {
    width: 80%;
    height: 100%;
    background-color: hsl(176, 50%, 47%);
    border-radius: 10px;
  }
  .background {
    width: 100%;
    height: 96%;
    background-color: whitesmoke;
    z-index: -2;
    top: 5%;
    left: 0;
    position: absolute;
  }
  .about-container {
    background-color: white;
    padding: 10% 5% 1% 5%;
    font-family: "Commissioner";
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
  .about-heading {
    font-family: "Commissioner";
    font-weight: 700;
    font-size: 150%;
    margin-bottom: 10%;
  }
  .about-content {
    font-family: "Commissioner";
    color: hsl(0, 0%, 48%);
    font-size: 105%;
    line-height: 1.5em;
    margin-bottom: 10%;
  }
  .reward-container {
    border: 2px solid hsl(0, 0%, 48%, 0.3);
    border-radius: 5px;
    padding: 10%;
    display: grid;
    margin-bottom: 10%;
  }
  .reward-header-container {
    display: grid;
    font-family: "Commissioner";
    justify-content: space-between;
    margin-bottom: 10%;
    align-items: center;
  }
  .reward-header {
    font-size: 120%;
    font-weight: 700;
    margin-bottom: 5%;
  }
  .reward-pledge {
    color: hsl(176, 50%, 47%);
    font-weight: 600;
    font-size: 120%;
  }
  .reward-content {
    color: hsl(0, 0%, 48%);
    font-size: 100%;
    line-height: 1.5em;
  }
  .reward-bottom {
    display: grid;
    justify-content: space-between;
    margin-top: 10%;
  }
  .reward-left {
    align-items: center;
    display: flex;
    margin-bottom: 30%;
  }
  .reward-count {
    font-family: "Commissioner";
    font-size: 200%;
    font-weight: 700;
  }
  .left {
    font-family: "Commissioner";
    font-size: 100%;
    color: hsl(0, 0%, 48%);
    margin-left: 5%;
  }
  .select-reward {
    width: max-content;
    border: 0;
    outline: 0;
    color: white;
    background-color: hsl(176, 50%, 47%);
    font-size: 120%;
    font-family: "Commissioner";
    font-weight: 600;
    padding: 15% 25%;
    border-radius: 25px;
    cursor: pointer;
  }
}
