<div class="thanks-container">
  <div class="check-container">
    <img src="../../assets/icon-check.svg" alt="icon-check" class="check" />
  </div>
  <div class="thanks-heading">Thanks for your support!</div>
  <div class="thanks-content">
    Your pledge brings us one step closer to sharing Mastercraft Bamboo Monitor
    Riser worldwide. You will get an email once our campaign is completed.
  </div>
  <div class="got-it-container">
    <button class="got-it" (click)="onClikcGotIt()">Got it!</button>
  </div>
</div>
